.login-page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 40%
}

.login-page form * {
  align-self: flex-start;
  width: 100%;
  margin: 5px;
  padding: 1px;
}